# **Mantenimiento Predictivo de Equipos**



**¿Qué es el Mantenimiento Predictivo?**

El mantenimiento predictivo **es una técnica que utiliza herramientas y técnicas de análisis de datos para detectar anomalías en el funcionamiento y posibles defectos en los equipos y procesos, de modo que puedan solucionarse antes de que sobrevenga el fallo**. Al igual que el análisis predictivo permite anticipar, por ejemplo, los movimientos de los mercados o las fluctuaciones en la demanda de energía, el mantenimiento predictivo utiliza el análisis de datos para adelantarse a los fallos de los sistemas y es parte fundamental del Internet Industrial de las Cosas (IIoT).


**¿Cómo funciona el mantenimiento predictivo?**

Para hacer el seguimiento del estado de los equipos y avisar a los técnicos de los próximos fallos, el mantenimiento preventivo cuenta con tres componentes principales:

*   **Los sensores y los dispositivos conectados** instalados en las máquinas envían datos sobre el estado y el rendimiento de la máquina en tiempo real gracias a tecnologías del Internet de las Cosas (IoT), que permiten la comunicación entre las máquinas y los sistemas de análisis.
*   **Las soluciones de software** y el almacenamiento en la nube (cloud computing) permiten aplicar la minería de datos (data mining) y recopilar y analizar enormes cantidades de datos usando aplicaciones de big data.
*  **Los modelos predictivos** se alimentan con los datos procesados y utilizan tecnologías de aprendizaje automático (machine learning) para establecer patrones y comparaciones, elaborar predicciones de fallos y programar el mantenimiento antes de que ocurran.

Fuente: https://www.iberdrola.com/innovacion/mantenimiento-predictivo

In [60]:
#Conexión a cuenta google drive
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [61]:
#Importación de librerías
import pandas as pd

In [62]:
#ruta de ubicacion de los datos
DATA_PATH = '/content/drive/MyDrive/ColabNotebooks/EscuelaDatosRGG/Portafolio/proyecto-portafolio/data/mttoPredic/'

#nombres de los archivos 
files = {
     'errors':'PdM_errors.csv'
    ,'failures':'PdM_failures.csv'
    ,'machines':'PdM_machines.csv'
    ,'maint':'PdM_maint.csv'
    ,'telemetry':'PdM_telemetry.csv'
  }

In [63]:
#cargue de archivos dataset 
dataframe = dict()
for key, value in files.items():
  dataframe[key] = pd.read_csv(DATA_PATH+value)

In [64]:
#funcion para explorar los datos básicos del dataframe
def show_info_dataframe(label,df):
  print('***** Dataframe: ',label,' *****')
  df.info();
  print('--------------------------------')

In [65]:
for label,df in dataframe.items():
  show_info_dataframe(label,df)

***** Dataframe:  errors  *****
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3919 entries, 0 to 3918
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   datetime   3919 non-null   object
 1   machineID  3919 non-null   int64
 2   errorID    3919 non-null   object
dtypes: int64(1), object(2)
memory usage: 92.0+ KB
--------------------------------
***** Dataframe:  failures  *****
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 761 entries, 0 to 760
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   datetime   761 non-null    object
 1   machineID  761 non-null    int64
 2   failure    761 non-null    object
dtypes: int64(1), object(2)
memory usage: 18.0+ KB
--------------------------------
***** Dataframe:  machines  *****
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   machineID  100 non-null    int64
 1   model      100 non-null    object
 2   age        100 non-null    int64
dtypes: int64(2), object(1)
memory usage: 2.5+ KB
--------------------------------
***** Dataframe:  maint  *****
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3286 entries, 0 to 3285
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   datetime   3286 non-null   object
 1   machineID  3286 non-null   int64
 2   comp       3286 non-null   object
dtypes: int64(1), object(2)
memory usage: 77.1+ KB
--------------------------------
***** Dataframe:  telemetry  *****
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 876100 entries, 0 to 876099
Data columns (total 6 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   datetime   876100 non-null  object
 1   machineID  876100 non-null  int64
 2   volt       876100 non-null  float64
 3   rotate     876100 non-null  float64
 4   pressure   876100 non-null  float64
 5   vibration  876100 non-null  float64
dtypes: float64(4), int64(1), object(1)
memory usage: 40.1+ MB
--------------------------------

In [66]:
#Dataset de errores
dataframe['errors'].head()

              datetime  machineID errorID
0  2015-01-03 07:00:00          1  error1
1  2015-01-03 20:00:00          1  error3
2  2015-01-04 06:00:00          1  error5
3  2015-01-10 15:00:00          1  error4
4  2015-01-22 10:00:00          1  error4

In [67]:
#Dataset de fallas
dataframe['failures'].head()

              datetime  machineID failure
0  2015-01-05 06:00:00          1   comp4
1  2015-03-06 06:00:00          1   comp1
2  2015-04-20 06:00:00          1   comp2
3  2015-06-19 06:00:00          1   comp4
4  2015-09-02 06:00:00          1   comp4

In [68]:
#Dataset de Equipos o Maquinas
dataframe['machines'].head()

   machineID   model  age
0          1  model3   18
1          2  model4    7
2          3  model3    8
3          4  model3    7
4          5  model3    2

In [69]:
#Dataset de Mantenimientos
dataframe['maint'].head()

              datetime  machineID   comp
0  2014-06-01 06:00:00          1  comp2
1  2014-07-16 06:00:00          1  comp4
2  2014-07-31 06:00:00          1  comp3
3  2014-12-13 06:00:00          1  comp1
4  2015-01-05 06:00:00          1  comp4

In [70]:
#Dataset de Señales o telemetría
dataframe['telemetry'].head()

,datetime,machineID,volt,rotate,pressure,vibration
0,2015-01-01 06:00:00,1,176.217853,418.504078,113.077935,45.087686
1,2015-01-01 07:00:00,1,162.879223,402.747490,95.460525,43.413973
2,2015-01-01 08:00:00,1,170.989902,527.349825,75.237905,34.178847
3,2015-01-01 09:00:00,1,162.462833,346.149335,109.248561,41.122144
4,2015-01-01 10:00:00,1,157.610021,435.376873,111.886648,25.990511