<a href="https://colab.research.google.com/github/caldep/proyecto-portafolio/blob/main/notebooks/analisis_inicial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [10]:
import pandas as pd

In [13]:
DATA_PATH = '/content/drive/MyDrive/ColabNotebooks/EscuelaDatosRGG/Portafolio/proyecto-portafolio/data/mttoPredic/'
files = {
    'errors':'PdM_errors.csv'
  ,'failures':'PdM_failures.csv'
  ,'machines':'PdM_machines.csv'
  ,'maint':'PdM_maint.csv'
  ,'telemetry':'PdM_telemetry.csv'
  }

In [15]:
df_error = pd.read_csv(DATA_PATH+files.get('errors'))
df_failures = pd.read_csv(DATA_PATH+files.get('failures'))
df_machines = pd.read_csv(DATA_PATH+files.get('machines'))
df_maint = pd.read_csv(DATA_PATH+files.get('maint'))
df_telemetry = pd.read_csv(DATA_PATH+files.get('telemetry'))

In [16]:
df_telemetry.head()

,datetime,machineID,volt,rotate,pressure,vibration
0,2015-01-01 06:00:00,1,176.217853,418.504078,113.077935,45.087686
1,2015-01-01 07:00:00,1,162.879223,402.747490,95.460525,43.413973
2,2015-01-01 08:00:00,1,170.989902,527.349825,75.237905,34.178847
3,2015-01-01 09:00:00,1,162.462833,346.149335,109.248561,41.122144
4,2015-01-01 10:00:00,1,157.610021,435.376873,111.886648,25.990511